html, body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    overflow: hidden;
    cursor: none;
}

.background {
    background-color: white;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    transition: background-color 0.5s;
}

.text {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
    text-align: center;
    transition: font-size 2s, color 0.3s, left, 1.5s;
    padding: -100%;
    z-index: 1;
}

#pointer {
    height: 45px;
    width: 45px;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    opacity: 0;
    transition: opacity 0.5s;
}

#alt-text {
    font-size: 300px;
    left: 25%;
    color: white;
    opacity: 0;
    transition: opacity 0.5s;
}

#background-accent {
    height: 100vh;
    width: 0%;
    left: 50%;
    z-index: 0;
    background-color: #0492C2;
    float: right;
    position: absolute;
    transition: width 0.75s;
}
