html, body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    overflow: hidden;
    cursor: none;
}

.background {
    background-color: white;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    transition: background-color 0.5s;
}

.text {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
    text-align: center;
    transition: font-size 2s, color 0.3s, left, 1.5s;
    padding: -100%;
    z-index: 1;
}

#pointer {
    height: 4.2vh;
    width: 4.2vh;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    opacity: 0;
    transition: opacity 0.5s;
    z-index: 10;
}

#alt-text {
    font-size: 1750%;
    left: 25%;
    color: white;
    opacity: 0;
    transition: opacity 0.5s;
}

#background-accent {
    height: 100vh;
    width: 0%;
    left: 100%;
    background-image: url("cloud.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-box-reflect: left;
    float: right;
    position: absolute;
    z-index: 0;
    transition: width 1s, left 1.5s;
}

img {
   position: absolute; 
}

/* .container {
    position: absolute;
    display: inline-grid;
    width: 50%;
    height: 100vh;
    left: 50%;
}

.object {
    background-color: green;
    width: 30%;
    height: 30%;
    position: absolute;
} */