html, body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    cursor: none;
}

.background {
    background-color: white;
    width: 100vw;
    height: 100vh;
    transition: background-color 0.5s;
    z-index: -1;
}

.text {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
    text-align: center;
    transition: font-size 2s, color 0.3s, left, 1.5s;
    padding: -100%;
    z-index: 1;
}

#pointer {
    height: 45px;
    width: 45px;
    background-color: white;
    border-radius: 50%;
    z-index: 10;
    position: absolute;
    opacity: 0;
    transition: opacity 0.5s;
}

#alt-text {
    font-size: 300px;
    left: 25%;
    color: white;
    opacity: 0;
    transition: opacity 0.5s;
}

#background-accent {
    background-color: #1898B4;
    position: absolute;
    width: 0%;
    height: 100%;
    z-index: 0;
    float: right;
    transition: width 1.25s;
}

.box {
    position: absolute;
    height: 35%;
    width: 30%;
    color: white;
    border: 7px white;
    border-radius: 20px;
    border-style: solid;
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    font-size: 50px;
    font-weight: 700;
    margin: 5% 0% 5% 0%;
}

#start-box {
    left: 80%;
    top: 45%;
    transform: translate(-50%, -50%);
}